<main class="main">
  <div class="content">
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
      <h1>
        Online Store
        <mat-icon [matBadge]="totalCar()" [matTooltip]="productsCar()" aria-hidden="false" matTooltipClass="custom-tooltip">shopping_cart</mat-icon>
        <span class="cdk-visually-hidden"></span>
      </h1>
      <form [formGroup]="productsSearch" (ngSubmit)="onSubmit()" style="margin: 1rem;">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput id="search" formControlName="search" placeholder="Search products"  type="text">
        </mat-form-field>
        <button mat-stroked-button type="submit">Search</button>
      </form>

    </div>
    <button mat-flat-button (click)="resetProducts()"
      matTooltip="Remove products from localStorage and bring information from the API ?">Reset Products API</button>
    <button mat-flat-button (click)="addProduct()">Add Product</button>
  </div>
</main>

<router-outlet />